<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' >
    <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <button id="startWorkout" class="btn-primary btn" type="button">Start Workout</button>
    <button id="addExercise" class="btn-primary btn" type="button">Add Exercise</button>
    <button id="workoutHistory" class="btn-primary btn" type="button">Workout History</button>
    <button id="workoutStats" class="btn-primary btn" type="button">Workout Stats</button>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascripts/menu.js"></script>
  </body>
</html>
