<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    
    <ol>
      <li> exercise1 </li>
      <li> exercise2 </li>
    </ol>

    <button type="button" id="tooHard">Too Hard</button>
    <button type="button" id="tooEasy">Too Easy</button>

    <button class="close" type="button">Close</button>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascripts/postworkout.js"></script>
  </body>
</html>