<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div> Rest </div>
    
    <div id="clock" style="border: 2px solid red; width: 200px; height: 2em;"></div>

    <button type="button" class="endWorkout">End Workout</button>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascripts/timer.js"></script>
  </body>
</html>
